    <style>
        #view-source {
            position: fixed;
            display: block;
            right: 0;
            bottom: 0;
            margin-right: 40px;
            margin-bottom: 40px;
            z-index: 900;
        }

        .demo-layout-transparent {

        }
        .demo-layout-transparent .mdl-layout__header,
        .demo-layout-transparent .mdl-layout__drawer-button  {
            /* This background is dark, so we set text to white. Use 87% black instead if
               your background is light. */
            color: white;
        }
        .mdl-layout_nav_link{
            color: black;
        }
    </style>

<div class="demo-blog mdl-layout mdl-js-layout has-drawer is-upgraded">
    <div class="demo-layout-transparent mdl-layout mdl-js-layout">
        <header class="mdl-layout__header mdl-layout__header--transparent">
            <div class="mdl-layout__header-row">
                <!-- Title -->
                <span class="mdl-layout-title">DzNews</span>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">DzNews</span>

            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="/">主页</a>
                <a class="mdl-navigation__link" href="">新闻</a>
                <a class="mdl-navigation__link" href="">通知</a>
                <a class="mdl-navigation__link" href="">发现</a>
            </nav>
        </div>
    </div>
    <main class="mdl-layout__content">
        <div class="demo-blog__posts mdl-grid">
            <div class="mdl-card amazing mdl-cell mdl-cell--12-col" ng-repeat="news in newses">
                <div class="mdl-card__title mdl-color-text--grey-50">
                    <h3><a href="/news/{{news.item.id}}">{{news.item.title}}</a></h3>
                </div>
                <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                    {{news.item.description}}
                </div>
                <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
                    <div class="minilogo"></div>
                    <div>
                        <strong>{{news.item.auth}}</strong>
                        <span>{{news.item.pubTime}}</span>
                    </div>
                </div>
            </div>

            <nav class="demo-nav mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
                <button class="demo-nav__button"  >
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" ng-click="lastPage()">
                        <i class="material-icons">arrow_back</i>
                    </button>
                    Newer
                </button>
                <div class="section-spacer"></div>
                <a  class="demo-nav__button">
                    Older
                    <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon mdl-color--white mdl-color-text--grey-900" role="presentation" ng-click="nextPage()">
                        <i class="material-icons">arrow_forward</i>
                    </button>
                </a>
            </nav>

        </div>
        <footer class="mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
                    <span class="visuallyhidden">Twitter</span>
                </button>
                <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
                    <span class="visuallyhidden">Facebook</span>
                </button>
                <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
                    <span class="visuallyhidden">Google Plus</span>
                </button>
            </div>
            <div class="mdl-mini-footer--right-section">
                <button class="mdl-mini-footer--social-btn social-btn__share">
                    <i class="material-icons" role="presentation">share</i>
                    <span class="visuallyhidden">share</span>
                </button>
            </div>
        </footer>
    </main>
    <div class="mdl-layout__obfuscator"></div>
</div>
<script>
    Array.prototype.forEach.call(document.querySelectorAll('.mdl-card__media'), function(el) {
        var link = el.querySelector('a');
        if(!link) {
            return;
        }
        var target = link.getAttribute('href');
        if(!target) {
            return;
        }
        el.addEventListener('click', function() {
            location.href = target;
        });
    });
</script>
